.popup__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 430px;
    max-height: 330px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin-top: 195px;
}

@media screen and (max-width:540px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        margin: auto auto;
    }
}
